@import 'components/header';
@import 'components/footer';
@import 'components/news';
@import 'components/trailers';
@import 'components/shop';
@import 'components/comunidad';
@import 'components/body';
@import 'base/listas';
@import 'base/extends';
@import 'base/mixins';

$color-secundario: #590696;
$color-terciario: #151D3B;
$color-fuente-uno: #FBCB0A;
$color-fuente-dos: #C70A80;
$color-fuente-tres: #ED1D24;
$color-fuente-cuatro: #0476f2;
$color-button-uno: #F1DDBF;
$medida-fuente: 10px;

@media (min-width: 500px){
    .news-links,
    .trailers-section,
    .shop-section,
    .comunidad-ubicacion{
       display: flex;
       flex-direction: row;
    }
}

