$color-principal: aquamarine;
$color-fuente-uno: chocolate;
$medida-fuente: 10px;

// Operaciones (se utilizan ecuaciones -suma, resta, multiplicacion y division- para aumentar o disminuir la medida principal elegida)

body {
    background-color: $color-principal;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    border-radius: 20px;
    font-family: 'macondo';
    font-size: ($medida-fuente * 4);
    

    .nav-item:hover {
        background-color: aliceblue;
        border-radius: 10%;

        a {
            font-family: 'macondo';
            color: $color-fuente-uno;
        }
    }
}