body {
  background-color: aquamarine;
  background-attachment: fixed;
  background-size: cover; }

.navbar {
  border-radius: 20px;
  font-family: 'macondo';
  font-size: 40px; }
  .navbar .nav-item:hover {
    background-color: aliceblue;
    border-radius: 10%; }
    .navbar .nav-item:hover a {
      font-family: 'macondo';
      color: chocolate; }
