@import '../base/listas';
@import '../base/extends';
@import '../base/mixins';

a:visited {
    color: nth($colores, 8);
    font-weight: bold;
  }

body {
    background-color: nth($colores, 1);
    background-attachment: fixed;
    background-size: cover;
}

.button-uno {
  font-family: 'Kdam Thmor Pro', sans-serif;
}