@import '../base/listas';
@import '../base/extends';
@import '../base/mixins';

$medida-fuente: 10px;

.comunidad-title {
    @extend %titulos;
    color: nth($colores, 5);
}

.ubicacion-title {
    @extend %titulos;
    color: nth($colores, 6);
}

.section-comunidad {
    align-items: center;
    .accordion-body {
        display: flex;
        align-items: center;
    }
    .comunidad-uno{
        @include fotos(30%);
    }
    .comunidad-dos{
        @include fotos(30%);
    }
    .comunidad-tres{
        @include fotos(30%);
    }
}