@import '../base/listas';
@import '../base/extends';
@import '../base/mixins';

$medida-fuente: 10px;

.comunidad-title {
    @extend %titulos;
    color: nth($colores, 8);
}

.ubicacion-title {
    @extend %titulos;
    color: nth($colores, 6);
}

.section-comunidad {
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    .accordion-body {
        display: flex;
        align-items: center;
    }
    .comunidad-uno{
        @include fotos(30%);
    }
    .comunidad-dos{
        @include fotos(30%);
    }
    .comunidad-tres{
        @include fotos(30%);
    }
}

.contact-form {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 1%;
}

.contacto-mapa {
    margin: 1%;
}

@media (max-width: 900px){
    .comunidad-ubicacion {
        display: flex;
    }
}