@import '../base/listas';

$medida-fuente: 10px;

.comunidad-title {
    display: flex;
    justify-content: center;
    font-family: 'macondo';
    color: nth($colores, 5);
}

.ubicacion-title {
    display: flex;
    justify-content: center;
    font-family: 'macondo';
    color: nth($colores, 6);
}

.section-comunidad {
    align-items: center;
    .accordion-body {
        display: flex;
        align-items: center;
    }
    .comunidad-uno{
        width: 30%;
    }
    .comunidad-dos{
        width: 30%;
    }
    .comunidad-tres{
        width: 30%;
    }
}