@import '../base/listas';

$medida-fuente: 10px;

footer {
    background-image: linear-gradient(180deg, #f59622 0, #f59623 8.33%, #f59624 16.67%, #e8a52b 25%, #ec9924 33.33%, #f08b20 41.67%, #f37b1f 50%, #f56a21 58.33%, #f75827 66.67%, #f9442f 75%, #fa2a38 83.33%, #fa0043 91.67%, #f9004e 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footer-title {
        display: flex;
        justify-content: center;
        font-family: 'macondo';
        color: nth($colores, 6);
    }

    .footer-links {
        margin: 0%;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        a {
            color: nth($colores, 3);
            font-size: $medida-fuente *2;
        }
    }

    .footer-icons {
        display: flex;
        justify-content: space-evenly;
        
        a {
            color: nth($colores, 7);
            i {
                font-size: $medida-fuente *4;
            }
        }
    }

    .footer-company-name {
        display: flex;
        justify-content: center;
        font-family: 'calibri';
        color: nth($colores, 3);
    }
}
