@import '../base/listas';

$medida-fuente: 10px;

.navbar {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: ($medida-fuente * 3);
    background-color: nth($colores, 7);

    .nav-item:hover {
        background-color: nth($colores, 4);
        border-radius: 10%;

        a {
            font-family: 'Kdam Thmor Pro', sans-serif;
            color: nth($colores, 3);
        }
    }
}
