@import '../base/listas';

$medida-fuente: 10px;

.navbar {
    border-radius: 20px;
    font-family: 'macondo';
    font-size: ($medida-fuente * 3);


    .nav-item:hover {
        background-color: nth($colores, 8);
        border-radius: 10%;

        a {
            font-family: 'macondo';
            color: nth($colores, 4);
        }
    }
}