@import '../base/listas';
@import '../base/extends';
@import '../base/mixins';

$medida-fuente: 10px;

#shop {
    margin: auto;
    padding: 2%;
    border: solid 0.5rem black;
    text-align: center;
    background-image: url("multimedia/Images/fondo-shop.jpg");
    background-size: cover;
    background-attachment: fixed;
    .shop-title {
        @extend %titulos;
        color: nth($colores, 6);
    }
    .card {
        display: flex;
        align-items: center;
    }
    
    .img-shop1 {
        @include fotos(50%);
    }

    .img-shop2 {
        @include fotos(50%);
    }

    .img-shop3 {
        @include fotos(50%);
    }
}
