@import '../base/listas';
@import '../base/extends';

$medida-fuente: 10px;

.trailers-title {
    @extend %titulos;
    color: nth($colores, 8);
}

.trailers-video {
    display: flex;
    justify-content: center;
}

/* trailers.html - Estilos*/
.titulo-trailers-uno {
    @extend %titulos-dos;
    color: nth($colores, 6);
}

.titulo-trailers-dos {
    @extend %titulos-dos;
    color: nth($colores, 7)
}

/* trailers.html - Estilos*/