@import '../base/listas';
@import '../base/extends';

$color-secundario: #590696;
$color-terciario: #151D3B;
$color-fuente-uno: #FBCB0A;
$color-fuente-dos: #C70A80;
$color-fuente-tres: #ED1D24;
$color-fuente-cuatro: #0476f2;
$color-button-uno: #F1DDBF;
$medida-fuente: 10px;

.trailers-title {
    @extend %titulos;
    color: nth($colores, 3);
}

.trailers-video {
    display: flex;
    justify-content: center;
}

/* trailers.html - Estilos*/
.titulo-trailers-uno {
    @extend %titulos;
    color: nth($colores, 6);
}

.titulo-trailers-dos {
    @extend %titulos;
    color: nth($colores, 7)
}

/* trailers.html - Estilos*/